.body {
    margin: 0;
}

/* Menu Principal */
.body-principal {
    position:relative;
    display: flex;
    align-items: center;
    height: 100vh;
}

.img1 {
    position: absolute;
    width: 28%;
    margin-left: 12%;
    border-radius: 5%;
    box-shadow: -5px 3px 25px #101010;
}

.color-background {
    width: 30%;
    height: 100%;
    background-color: #db8c19;
}

.info-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: 100%;
    background-color: #000000;
}

.menu-bar {
    width: 5%;
    height: 100%;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    margin-left: 25%;
    max-width: 67%;
}

.title1 {
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    color: #f7b555;
}
.title2 {
    margin-top: 0;
    padding-left: 38px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: #ffffff;
}

.introducao {
    margin-top: 0px;
    margin-bottom: 4%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.menu {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.menu a {
    font-size: 25px;
    color: #ffffff;
    background-color: #212121;
    padding: 12px;
    border-radius: 150%;
}

.whats {
    margin-bottom: 200%;
}

.email {
    margin-bottom: 200%;
}

.next   {
    display: flex;
    align-items: center;
}

.qse {
    margin-right: 1%;
    padding: 15px;
    padding-left: 20px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border: 2px solid #db8c19;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    width: 17.5%;
}

.icon1 {
    font-size: 17px;
    padding: 18.7px;
    padding-left: 15px;
    background-color: #db8c19;
    color: #000000;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

/* Quem sou eu */
.body-primario {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.color-background2 {
    height: 30%;
    background-color: #db8c19;
}

.desc-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background-color: #000000;
}

.full-body {
    width: 95%;
    height: 100vh;
}

.body-primario img {
    position: absolute;
    border-radius: 100%;
    box-shadow: -10px 5px 25px #212121;
}

.img2 {
    width: 17%;
    margin-left: 10%;
    margin-top: 5%;
}

.img3 {
    width: 20%;
    margin-left: 37.5%;
    margin-top: 2%;
}

.img4 {
    width: 17%;
    margin-left: 67.5%;
    margin-top:5%;
}

.desc-info p {
    margin-top: 2%;
    text-align: justify;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.desc-info h2 {
    margin-bottom: 0;
    color: #f7b555;
    font-family: "Poppins", sans-serif;
}

.desc-info span {
    font-size: 19px;
    font-weight: bold; 
    text-decoration: underline;
}

.sobre {
    margin-top: 9%;
    padding-left: 5%;
    padding-right: 1%;
}

.objetivo {
    margin-top: 3.5%;
    padding-left: 2.5%;
    padding-right: 1%;
}

.empresa {
    margin-top: 9%;
    padding-left: 2.5%;
    padding-right: 5%;
}